<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.commons.mapper.TbItemParamItemMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.commons.domain.TbItemParamItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="param_data" jdbcType="LONGVARCHAR" property="paramData" />
  </resultMap>
</mapper>