<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.commons.mapper.TbOrderMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.commons.domain.TbOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="post_fee" jdbcType="VARCHAR" property="postFee" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage" />
    <result column="buyer_nick" jdbcType="VARCHAR" property="buyerNick" />
    <result column="buyer_rate" jdbcType="INTEGER" property="buyerRate" />
  </resultMap>
</mapper>